<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->

		<header>
						<h1>About Me</h1>
					</header>
					<br><br>
					<p> <b><i><p>My name is Chinemerem Portia Ezenwa, and I am a student of Seneca College studying Business-IT. My student ID is 111410221</p>
   					<p>I am passionate about web design and development and enjoy working with HTML, CSS, and JavaScript to create engaging websites.</p>
   					<p>I have acquired knowledge and experience in various web applications and frameworks.</p>
    				<p>I am excited to continue learning and growing, and I look forward to applying my skills to create innovative and user-friendly web solutions.</p>.
					</i></b></p>
					<br>
						<h5>
						<ul>Tutor: Chinemerem Portia Ezenwa </ul>
						<ul>Seneca Student Number: 111410221</ul>
						<ul>Program: Postgraduate Certificate in Business-Information Technology </ul>
						<ul>College: Seneca College, Toronto, ON </ul>
					</h5>

		<!-- End your code here  -->



	</main>
</div>
