
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->
					<h1>Welcome to the About Page!</h1>
    <p>Thank you for visiting this page to learn more about me.</p>

    <h2>About Me</h2>
    <p>My name is Shreedhar Bhandari and I am a student in Business IT program. My student ID is: <b>134410224</b></p>
    <p>I am passionate about web development and enjoy working with HTML, CSS, and JavaScript to create interactive and engaging websites.</p>
    <p>Throughout my studies, I have acquired knowledge and experience in various web technologies and frameworks, including Express for building web applications.</p>
    <p>I am excited to continue learning and growing as a web developer, and I look forward to applying my skills to create innovative and user-friendly web solutions.</p>

					
					
					<!-- End your code here  -->



				</main>
			</div>
		